[submodule "FrontEnd-Movie-Recommender"]
	path = FrontEnd-Movie-Recommender
	url = https://github.com/bit-guber/FrontEnd-Movie-Recommender.git
[submodule "Movie-Recommender-API"]
	path = Movie-Recommender-API
	url = https://github.com/bit-guber/Movie-Recommender-API.git
